<div class="">
  <div class="host container">
    <form>
      <div class="form-group m-5 jumbotron text-center">
        <h2>Enter symptoms to get the diagnosis</h2>
        <input
          class="form-control"
          placeholder="Enter Symptoms"
          type="text"
          name="symptoms"
          [(ngModel)]="symptoms"
          (ngModelChange)="searchData(symptoms)"
        />
        <small class="form-text text-muted"
          >We'll help you get relevant symptoms</small
        >
        <div class="text-center">
          <button class="btn btn-primary center" (click)="getSymptoms()">
            Get Diagnosis
          </button>
        </div>
      </div>
    </form>
    <div id="accordion" *ngIf="display">
      <div class="card" *ngFor="let item of diagnosis; let i = index">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">Possible Issue - {{ i + 1 }}</h5>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordion"
        >
          <div class="card-body h4">
            <br />Name - {{ item.Issue.Name }} <br />Accuracy -
            {{ item.Issue.Accuracy }} <br />Icd - {{ item.Issue.Icd }}
            <br />IcdName - {{ item.Issue.IcdName }} <br />ProfName -
            {{ item.Issue.ProfName }} <br />Ranking - {{ item.Issue.Ranking }}
            <br />
            <span *ngFor="let result of item.Specialisation">
              Specialisation -
              <br />
              Name - {{ result.Name }}
            </span>
            <div class="form-check">
              <label #id for="" hidden class="form-check-label">{{
                item.Issue.ID
              }}</label>
              <input
                type="checkbox"
                name="record"
                (click)="addDiagnosis(id)"
                class="form-check-input p-4"
              /><label for="" class="form-check-label"
                >Add Diagnosis to Patient's Record</label
              >
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
    <div class="container alert alert-danger text-center" *ngIf="newUser">
      {{ message }}
    </div>
    <div class="container">
      <div class="card mb-5">
        <div class="card-header">Patient's Details</div>

        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="patient-name">Patient's Name</label>
              <input
                type="text"
                id="patient-name"
                name="patient-name"
                [(ngModel)]="patientName"
                class="form-control"
              />
            </div>
            <div class="form-check" *ngIf="patientRecord.length > 0">
              <input
                type="radio"
                name="status"
                class="form-check-input"
                id="valid"
                value="valid"
                [(ngModel)]="status"
              /><label for="valid" class="form-check-label">Valid</label>
            </div>
            <div class="form-check" *ngIf="patientRecord.length > 0">
              <input
                type="radio"
                name="status"
                class="form-check-input"
                id="invalid"
                [(ngModel)]="status"
                value="invalid"
              /><label for="invalid" class="form-check-label">Invalid</label>
            </div>
            <div class="text-center">
              <button class="btn btn-primary" (click)="createRecord()">
                Save Record
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="filter">
      <div *ngFor="let tip of filteredData">
        <div class="tip" #tipValue (click)="getValue(tipValue)">
          {{ tip.Name }}
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
