.content {
  min-height: 100vh;
  position: relative;
}
.main {
  min-height: 100vh;
}
.footer {
  min-height: 5vh;
  position: fixed;
  padding: 10px;
  bottom: 0px;
  background-color: rgb(201, 198, 195);
  left: 0;
  width: 100vw;
}

button {
  margin: 5px;
}
.filter {
  position: relative;
  z-index: 2;
}
.tip:hover {
  background-color: grey;
}
